.Select-mode-menu{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.Select-mode-button{
	margin: 10px;
}

.Select-mode-tf-lvl0{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.Select-mode-tf-lvl1{
	margin: 10px;
}
